@font-face {
  font-family: myFirstFont;
  src: url(Telegraphem.otf);
}

 body {
   background-color: black;
   color: white;
  } 

h1,h2 {
  font-family: myFirstFont;
}

a { 
  color: grey;
  text-decoration: underline;
}
